services:
  web:
    labels:
      kompose.controller.type: Deployment
      kompose.service.type: ClusterIP
      kompose.pod.liveness-probe.http-get.path: /kubernetes/health/live
      kompose.pod.liveness-probe.http-get.port: "3000"
      kompose.pod.liveness-probe.initial-delay-seconds: "10"
      kompose.pod.liveness-probe.period-seconds: "10"
      kompose.pod.readiness-probe.http-get.path: /kubernetes/health/ready
      kompose.pod.readiness-probe.http-get.port: "3000"
      kompose.pod.readiness-probe.initial-delay-seconds: "5"
      kompose.pod.readiness-probe.period-seconds: "5"
